body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.content {
	padding-top: 50px;
	padding-bottom: 128px;
}

.navbar {
	background-color: GRAY;
	position: fixed;
	top: 0;
	width: 100%;
}

.footer {
	background-color: GRAY;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.footer-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

.list-group-item {
	background-color: Azure;
}
