extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Add Assignment for CSCI 400: Programming Languages
  .row
    .col-xs-12.col-md-6
      form.form-horizontal(action="/classes", method="get", role="form")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="name") Title
          .col-xs-12.col-sm-10
            input#name.form-control(name="name")
        .form-group
          label.col-sm-2.control-label(for="due") Due
          .col-sm-10
            textarea#due.form-control(name="due", rows="1")
        .form-group
          label.col-sm-2.control-label(for="points") Points
          .col-sm-10
            textarea#points.form-control(name="points", rows="1")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="status") Status
          .col-xs-12.col-sm-2
            select#rating.form-control.input-sm(name="status")
              option Not Started
              option In Progress
              option Done
              option Submitted
        button.btn.btn-default.pull-right Add Assignment
    .col-xs-12.col-md-4
