extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Pharmocotherapy
          small &nbsp; Medical treatment by means of drugs...
    .row
      .col-xs-12.col-sm-8
        .row.list-group
          .col-xs-12.list-group-item
            h4
              a(href="/class") Epilepsy Drugs
                p Find out which drugs are best to treat seizures and epilepsy
                p
                  span.label.label-warning Drug Names
                  | &nbsp;
                  span.label.label-warning Side Effects
                  | &nbsp;
                  span.label.label-warning Mechanism of Action
                  | &nbsp;
                  span.label.label-warning Other Information
                  | &nbsp;
