extends layout

block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
  .row
    .col-xs-12.col-md-6
      form.form-horizontal(action="/location", method="get", role="form")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="name") Title:
          .col-xs-12.col-sm-10
            input#name.form-control(name="name")
        .form-group
          label.col-sm-2.control-label(for="review") Due Date:
          .col-xs-12.col-sm-10
            input#name.form-control(name="review")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="rating") Rating
          .col-xs-12.col-sm-2
            select#rating.form-control.input-sm(name="rating")
              option Not Started
              option Started
              option Completed
              option Submitted
        button.btn.btn-default.pull-right Add Assignment
    .col-xs-12.col-md-4
